.img{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.bt1{
   position: absolute;
   top:0%;
   left: 0%;
}

.bt2{
   position: absolute;
   top:0%;
   left: 10%;
}

.bt3{
   position: absolute;
   top:0%;
   left: 19%;
}
.bt4{
   position: absolute;
   top:0%;
   left: 31%;
}
.bt5{
    position: absolute;
    top: 0%;
    left: 52%;
}
.bt6{
    position: absolute;
    top: 0%;
    left:45%;
}
.barra{
    background:#e0e0e0;
}
.prueba{
    position: absolute;
    top: 0%;
    left: 55.6%;
    z-index: +1;
}
.prueba1{
    position: absolute;
    top: 0%;
    left: 70.6%;
    z-index: +1;
}